// .counties {
//   fill: none;
// }

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 10pt;
  max-width: 960px;
  margin: 40px auto;
}

p {
  max-width: 640px;
}

#legend-container {
  // pointer-events: none;
  height: 200px;
}

.legend {
  pointer-events: all;
}

.legend-values {
  fill:black
}

@media screen and (min-width: 960px) {
  #legend-container {
    position: relative;
    bottom: 200px;
    height: 0px;
  }
}


.county {
  stroke-width: .5px;
  stroke: #FEF
}

.county:hover {
  opacity: .5;
}

#states {
  fill: none;
}

.state {
  stroke: #FEF;
}

.state-borders {
  fill: none;
  stroke-linejoin: round;
  stroke: #FEF;
}

.background {
  fill: none;
  pointer-events: all;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 0.9;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  pointer-events: none;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.winner-name {
  padding: 5px;
}
